# Ignore the following files in GIT #
######################################

#Specific Example file and district files
Teco/Examples/script_paper.py
Teco/script paper/input/citygml/district2/citygml_yoc_adder.py
Teco/script paper/input/citygml/district2/Essen_Vogelheim_2021_12_26_only_ids_commented_BPs.gml
Teco/script paper/input/citygml/district2/Essen_Vogelheim_2021_12_26_only_ids_commented_BPs_YOCed.gml
# Python compiled files #
#########################
*.pyc
*.orig

# temporary files for calculation #
#########################
/gmlfiles
/GML-Example-files
/Scripts
/results
# temporary boundary condition files #
######################################

testing_teaserplus_lxml.py
#TEASER+_Gui.py
#gui_functions.py
# Output-Files #
########################
/teaser/OutputData/

#Eclipse Settings #
#####################
/.settings
.project
.pydevproject

#Spyder Settings #
#####################
.spyderproject

#PyCharm Settings #
#####################
../.idea

#Unit tests #
#####################
.cache/
__pycache__/
.coverage
.pytest_cache

#pip install #
#####################
*.egg-info/
*.egg/
*.eggs
dist
*.pypirc

#ignore docs#
#####################

doc/_build
